* {
    /* `otf-font-awesome` is required to be installed for icons */
   /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Hack Nerd Font;
    font-weight: bold;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(235, 219, 178, 0); /*change 4th val to 0 for transparent*/
    /*border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;*/
    border-radius: 5px;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    color: #458588;
}

#workspaces button {
   /* padding: 0 5px;
    background-color: transparent;
    color: #ffffff;*/
    padding: 5px;
    color: #7c6f64;
    margin-right: 5px;
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#workspaces button.focused {
    /*background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;*/
    color: #EBDBB2;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    background-color: #CC241D;
}



#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#pulseaudio-mic,
#wireplumber,
#custom-media,
#custom-sep,
#custom-updates, 
#custom-browser,
#custom-filemanager,
#custom-networkmanager
#custom-terminal,
#custom-bitwarden,
#custom-discord,
#custom-weather,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    border-radius: 12px;
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 0px 10px;
    background-color: #EBDBB2;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    border-left: 0px;
    color: #458588;
    background-color: #EBDBB2;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-right: 15px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    color: #458588;
    background-color: #ebdbb2;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

#memory {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    color: #458588;
    background-color: #ebdbb2;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

#network {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    border-left: 0px;
    color: #458588;
    background-color: #EBDBB2;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-left: 15px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#pulseaudio {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    background-color: #EBDBB2;
    color: #458588;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}

/*#pulseaudio.mic {
    color: #458588;
    margin-right: 15px;
    border-radius: 0px 5px 5px 0px;
    border: 8px inset #726751;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    color: #458588;
    background-color: #EBDBB2;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

#temperature.critical {
    border-radius: 10px;
    color: #c6020c;
    background-color: #EBDBB2;
}

#tray {
    color: #458588;
    border-radius: 0px 5px 5px 0px;
    background-color: #EBDBB2;
    border: 1px solid #458588;
    border-left: 0px;
    padding-left: 0px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-playerctl {
    color: #458588;
    border-radius: 5px;
    background-color: #EBDBB2;
    border: 8px inset #726751;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-updates {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    color: #458588;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #EBDBB2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}

#custom-notification {
    box-shadow: 1 1 2 0.5px rgba(0, 0, 0, 0.45) , rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: #458588;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: #EBDBB2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
}
