@define-color transparent rgba(10,9,16,0); /* waybar bg */
@define-color bg rgba(10,9,16,0); /* background color for the modules */ 
@define-color text #910EAE; /* text/icon color */ 
@define-color border #670e92;
@define-color focused #670E92; /* color for focused workspace */
@define-color button #74598E; /* color for workspace buttons */

* {
    /* `otf-font-awesome` is required to be installed for icons */
   /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Hack Nerd Font;
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background-color: @transparent; 
    border-radius: 30px;
}

#workspaces button.active {
    color: @text;
}

#workspaces button {
    padding: 5px;
    color: @button;
    margin-right: 5px;
}

#workspaces button.focused {
    color: @bg;
    background: @focused;
    border-radius: 10px;
}

#workspaces {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    background-color: @bg;
    color: @text;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    color: @text;
    background-color: @bg;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

#temperature {
     border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    background-color: @bg;
    color: @text;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}   

#memory {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    background-color: @bg;
    color: @text;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#network {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    background-color: @bg;
    color: @text;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#pulseaudio {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    background-color: @bg;
    color: @text;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


#pulseaudio.muted {
    background-color: @bg;
}

#custom-updates {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    color: @text;
    padding-left: 10px;
    padding-right: 5px;
    background-color: @bg;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}

#custom-powermenu {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    color: @text;
    background-color: @bg;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-dotfiles {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    color: @text;
    background-color: @bg;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-theme {
    border: 2px solid;
    border-color: @border;
    border-radius: 30px;
    background-color: @bg;
    color: @text;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
